html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, system-ui,Hiragino Kaku Gothic ProN,sans-serif;
  font-size: 81.25%;
}

header {
  height: 50px;
  padding: 0 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4E4E4E;
}

header h1 {
  color: #F5F5F5;
}

.main-contents {
  margin-top: 50px;
}

.submenu {
  width: calc(50% - 50px);
  padding: 0 25px 25px;
}

.meta-list > li {
  padding-top: 25px;
  margin-top: 25px;
  border-top: solid 1px #f5f5f5;
}

.meta-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color: #5A5B61;
}

.meta-details {
  margin-right: auto;
  margin-left: 5px;
}

.meta-details .fa-question-circle {
  font-size: 18px;
  color: #4E4E4E;
  cursor: pointer;
}

.meta-details .fa-question-circle:hover {
  opacity: 0.8;
}

.edit_meta_field {
  width: 100%;
  margin-top: 10px;
}

.preview-wrapper {
  width: calc(50% - 50px);
  height: calc(100% - 100px);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 50px;
  right: 0;
  background-color: #F3F3F3;
}

.meta-preview,
.details-preview {
  width: calc(100% - 30px);
  height: calc(48% - 30px);
  padding: 15px;
  border: none;
  box-shadow: 0 0 8px grey;
}

.details-preview {
  background: #333333;
  color: #999999;
  font-size: 16px;
}

.generate-btn {
  margin-left: auto;
  margin-right: 25px;
}

.generate-btn .fa-pen-square,
.cleaner .fa-trash-alt {
  cursor: pointer;
  color: #F5F5F5;
  font-size: 35px;
  transition: .1s;
}

.generate-btn .fa-pen-square:hover,
.cleaner .fa-trash-alt:hover {
  opacity: .8;
}

/* toggle_switch */
.toggle_switch_component {
  position: relative;
  margin-left: 15px;
}
.toggle_switch_component .toggle_switch {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.toggle_switch_component .toggle_switch:checked ~ label {
  background-color: #BEBEBE;
}
.toggle_switch_component .toggle_switch:checked ~ label::after {
  background-color: #4E4E4E;
  transform: translatex(20px);
}
.toggle_switch_component label {
  display: block;
  width: 40px;
  height: 20px;
  position: relative;
  background-color: #D0D2DC;
  border-radius: 15px;
  cursor: pointer;
  margin-left: auto;
}
.toggle_switch_component label,
.toggle_switch_component label::after {
  transition: all 0.18s ease-in-out;
}
.toggle_switch_component label::after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 1px;
  bottom: 0;
  margin: auto 0;
  background-color: #FFFFFF;
  border-radius: 100%;
  transition: all 0.18s ease-in-out;
}
